<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="Layout.css">
</head>
<body>
    <div id="first">
        <div class="Line1", style="background-color: coral;"></div>
        <div class="Line1">
            <div class="Centre1", style="background-color: aqua;"></div>
            <div class="Centre1", style="background-color: blueviolet;"></div>
        </div>
        <div class="Line1">
            <div class="Right", style="background-color: crimson;"></div>
            <div class="Right", style="background-color: chartreuse;"></div>
            <div class="Right", style="background-color: darkgoldenrod;"></div>
        </div>
    </div>
    <div id="second">
        <div class="Line2", style="background-color: darksalmon;"></div>
        <div class="Line2", style="display: flex;">
            <div class="Centre2", style="background-color: darkolivegreen;"></div>
            <div class="Centre2", style="background-color: burlywood;"></div>
        </div>
        <div class="Line2", style="display: flex;">
            <div class="Bottom", style="background-color: rgb(95, 80, 255);"></div>
            <div class="Bottom", style="background-color: darkgreen;"></div>
            <div class="Bottom", style="background-color: chocolate;"></div>
        </div>
    </div>
</body>
</html>